* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.charts__box {
  width: 300px;
  height: 275px;
  background: #ef2c5a;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: space-between;
  padding: 1rem;
}

.charts__box button {
  background: #0a0a0a;
  padding: 14px 5px;
  border: none;
  width:130px;
  outline: none;
  border-radius: 8px;
}

.charts__box div {
  width: 180px;
  margin-top: 20px;
}

@media screen and (max-width: 768px){
  .charts__box {
    width: 100%;
    margin-left: 0;
    margin-top: 1rem;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
