a {
    text-decoration: none;
    font-family: 'WorkSans-Regular';
    font-size: 18px;
    color: #028970e0;
}

/* .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-240px);
    background: rgba(240, 239, 234, 1);
  } */

  .sidebar__logo {
    display: flex;
    margin-top: 10px;
    justify-content: center;
  }
  .sidebar__logo img {
    width: 200px;
  }
  
  .sidebar.open {
    transform: translateX(0);
  }
  
  .sidebar-header {
    margin-top: 0.5rem;
    width: 100%;
  }
  
  .sidebar-toggle {
    cursor: pointer;
    float: right;
  }
  
  .sidebar-toggle span {
    width: 100%;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
  }
  
  /* .sidebar-toggle span:first-child {
    top: 0;
  }
  
  .sidebar-toggle span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .sidebar-toggle span:last-child {
    bottom: 0;
  } */
  
  .sidebar-menu {
    list-style: none;
    margin-top: 10px;
  }
  
  .sidebar-menu-item {
    margin-bottom: 1rem;
    font-family: 'WorkSans-Regular';
    font-size: 14px;
    color: #028970e0;
    margin: 0px;
    cursor: pointer;
    padding: 20px;
  }
  
  .sidebar-menu-icon {
    margin-right: 20px;
    width: 20px;
    height: 20px;
  }
  
  .sidebar-footer {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  
  .sidebar-footer a {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
  }

.sidelinks {
  display: flex;
  align-items: center;
}

.sidebar-menu-item:hover, .sidebar-menu-item:focus, .active {
    background: #CDF5EE;
    border-radius: 56px;
    font-family: 'WorkSans-Regular';
    font-size: 14px;
    padding: 20px;
    color: #028970 !important;
}

*{
  margin:0;
  padding:0;
  text-decoration: none;
}
.containerSide{
  display:flex;
}
main{
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.sidebar{
  background: #fff;
  color: #000;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
  overflow: auto;
}

.top_section{
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding:20px 15px;
}
.logo{
  font-size: 25px;
}
.bars{
  display: flex;
  font-size: 15px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #000;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active{
  background: lightskyblue;
  color: #000;
}
.active-text{
  color: rgb(78, 95, 243);
  font-size: 15px;
  font-weight: bold;
}
.icon, .link_text{
  font-size: 15px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sidebar-toggle-icons {
    position: absolute;
    top: 0;
    right: -20px;
    width: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: #028970;
    /* background-color: #fff; */
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
  }
  
  .sidebar-icon {
    margin-bottom: 10px;
    font-size: 20px;
  }
